* { margin: 0; padding: 0; }
		
		

		.navbar {border-radius: 0;
			margin-bottom: 0;}

		.col-lg-12 {text-align: center;
					padding-top: 20px;}

		#intro {background: url(http://www.hmaa.org/assets/img/boston.jpg);
				background-repeat: no-repeat;
				background-position: center;
				height: 650px;
				width: 100%;
				color: white;}

		#about {background: ;
				background-repeat: no-repeat;
				background-position: center;
				height: 500px;
				width: 100%;}


		#left {padding-right: 10px;
				margin-right:10px;}
		#right {padding-left: 10px;}		


				